* {
  //margin: 0;
  //padding: 0;
  box-sizing: border-box;
  a {
    text-decoration: none;
    color: white;
  }

  .form-btns {
    display: flex;
    justify-content: center;
    justify-self: flex-end;
  }
}

.sidebar {
  height: calc(100vh - 60px);
  background-color: lightgray;
  padding: 10px;
  display: flex;
  flex-direction: column;
  min-height: min-content;
  overflow: auto;
  .add-form {
    input[type=text] {
      width: 100%;
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }
  .freeAgentContainer {
    display: flex;
    width: 100%;
    .freeAgent {
      display: flex;
      width: 100%;
      margin-top: 10px;
      flex-direction: column;
      border: 1px solid darkgray;
      box-shadow: darkgray 2px 2px 9px 0px;
      padding: 1rem;
      background-color: white;
    }
  }
}
